*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: #dbdee1;
   
    color: rgb(5, 44, 78);

}

header{
    text-align: center;
    padding: 5px 15px;
    border: 3px double #ff0000;
    margin: 10px;
    color: #7fcbd4;
}
.menu {
    overflow: hidden;
    background-color: rgb(18, 2, 2);
    margin: 10px;
  }
  .menu a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:30px;
  }
  .menu a:hover {
    background-color: #ddd;
    color: rgb(20, 19, 5);
  }
  .menu a:link {
    color: rgb(239, 243, 239);
  }
  .menu1 {
    overflow: hidden;
    background-color: rgb(239, 243, 239);
    margin: 10px;
  }
  .menu1 a {
    float: left;
    display: block;
    color: #ff0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  img{
    display:  block;
    margin-left: auto;
    margin-right:auto;
    border-radius: 30px;
    padding: 0px;
    width: 60%; 
}

h2{
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    background-color: #7fcbd4;
    color: #f2f2f2;
}
p{
    margin: 10px;
    padding: 10px;
    color: rgb(5, 1, 39);
    font-size: 20px ;
    text-align: justify;
}
h3{
  font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 10px 10px 10px;
    margin: 10px;
  
}


.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    grid-template-rows: minmax(10px auto);
    padding: 10px;
   
  }
  .container div {
    background: #f0e6e6;
    padding: 2em;
    
  }
  .container div:hover {
    border: 2px solid rgb(56, 8, 8);
  }
  @media screen and (max-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        grid-template-rows: minmax(50px auto);
        padding: 10px;
        margin:10px;
      }
      .container div {
        padding: 1em;
      }
      .menu1 a {
        float: none;
        width: 100%;
        margin: 2px;
        padding: 6px 16px;
        font-size: 16px;
      }
      .menu {
        overflow: hidden;
        background-color: #c18e61;
        margin: 10px;
      }
      h3{
        font-size: 28px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          padding: 10px 10px 10px 10px;
          margin: 10px;
        color: #e7c594;
      }
   
  }
  @media screen and (max-width: 600px) {
    body {
      background-image: url("fondo2.jpg");
      background-color: #523420;
      color:#deb784;
    }
    
    img {
      display: block;
      border-radius: 20px;
      padding: 10px;
      width: 90%;
    }
    p {
        font-size: 24px;
      }
      h2 {
        font-size: 25px;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: #ff0000;
        border-radius: 5px;
        padding: 10px 10px 10px 20px;
        margin: 10px;
      }
    
      .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1em;
        grid-template-rows: minmax(50px auto);
        padding: 10px;
        margin:10px;
      }
      .container div {
        background: #81644f;
        padding: 1em;
      }
      .container div:hover {
        border: 2px solid #2c1d1a;
      }
  
      .menu a {
        float: none;
        width: 100%;
        margin: 2px;
        padding: 6px 16px;
        font-size: 20px;
      }
      .menu1 a {
        float: none;
        width: 100%;
        margin: 2px;
        padding: 6px 16px;
        font-size: 22px;
      }

  }